pomelo-spring/src/main/resources/META-INF/pomelorpc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.shenyanchao.cn/pomelorpc"
            elementFormDefault="qualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="application">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="address" type="xsd:string" use="required"/>
                    <xsd:attribute name="clientId" type="xsd:string"/>
                    <xsd:attribute name="timeout" type="xsd:int" use="required"/>
                    <xsd:attribute name="flag" type="xsd:int" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="service">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="interfaceName" type="xsd:string" use="required"/>
                    <xsd:attribute name="ref" type="xsd:string" use="required"/>
                    <xsd:attribute name="filterRef" type="xsd:string"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="registry">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="ip" type="xsd:string"/>
                    <xsd:attribute name="port" type="xsd:int" use="required"/>
                    <xsd:attribute name="timeout" type="xsd:int" use="required"/>
                    <xsd:attribute name="protocolType" type="xsd:int" use="required"/>
                    <xsd:attribute name="serializerType" type="xsd:int" use="required"/>
                    <xsd:attribute name="threadCount" type="xsd:int" use="required"/>
                    <xsd:attribute name="group" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="reference">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="interfaceName" type="xsd:string" use="required"/>
                    <xsd:attribute name="group" type="xsd:string" use="required"/>
                    <xsd:attribute name="protocolType" type="xsd:int" use="required"/>
                    <xsd:attribute name="serializerType" type="xsd:int" use="required"/>
                    <xsd:attribute name="timeout" type="xsd:int" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>